<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="personas">Personas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contrato">Contratos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="empleadosContrato">Empleados Contratos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Salir</a>
        </li>
        
      </ul>
    
    </div>
  </div>
</nav>